<div id="container">
  <h1>Stupid Coaching</h1>
  <div id="question" >
    <p><%= @question %></p>
    <p> - You</p>
  </div>
  <div id="answer" >
    <p><%= @answer %></p>
    <p> - Your coach</p>
  </div>
  <p><%= link_to 'Ask another one', '/ask' %></p>
</div>




